<ul style="list-style: none; padding: 0;">
    <li><b>Either one of the following financial items:</b>
        <ul style="list-style: disc">
            <li>Company Federal Tax Returns – 3 Most Recent Years (including All Schedules,
                Statements, Amendments, K-1s).
                <ul style="list-style: circle">
                    <li>If most recent FYE is not complete, provide copy of extension filed and most
                        recent FYE Company Financial Statements</li>
                </ul>
            </li>
            <li>Audited or reviewed Financial Statements – 3 Most Recent Years (Balance Sheet and
                Income Statement with accountant notes if applicable).
                <ul style="list-style: circle">
                    <li>If most recent FYE is not complete, provide the most recent FYE Company
                        Prepared Financial Statements</li>
                </ul>
            </li>
            <li>Company Debt Schedule</li>
        </ul>
    </li>

    <li>
        <b>Additional Items Requested for Owners ( >20% )</b>
        <ul style="list-style: disc">
            <li>Personal Federal Tax Returns – 3 Most Recent Years</li>
            <li>Including All Schedules, Statements, Amendments, K-1s. Must be signed & dated. Do
                not include State returns.</li>
        </ul>
    </li>
</ul>
